bin/Debug/netcoreapp3.1/Cosmos.CRTCompat.dll
bin/Debug/netcoreapp3.1/learning-module.deps.json
bin/Debug/netcoreapp3.1/learning-module.dll
bin/Debug/netcoreapp3.1/learning-module.dll.config
bin/Debug/netcoreapp3.1/learning-module.exe
bin/Debug/netcoreapp3.1/learning-module.pdb
bin/Debug/netcoreapp3.1/learning-module.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/learning-module.runtimeconfig.json
bin/Debug/netcoreapp3.1/Microsoft.Azure.DocumentDB.Core.dll
bin/Debug/netcoreapp3.1/Microsoft.Azure.Documents.ServiceInterop.dll
bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win7-x64/native/Cosmos.CRTCompat.dll
bin/Debug/netcoreapp3.1/runtimes/win7-x64/native/Microsoft.Azure.Documents.ServiceInterop.dll
obj/learning-module.csproj.nuget.dgspec.json
obj/learning-module.csproj.nuget.g.props
obj/learning-module.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/learning-module.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/learning-module.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/learning-module.assets.cache
obj/Debug/netcoreapp3.1/learning-module.csproj.CopyComplete
obj/Debug/netcoreapp3.1/learning-module.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/learning-module.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/learning-module.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/learning-module.dll
obj/Debug/netcoreapp3.1/learning-module.exe
obj/Debug/netcoreapp3.1/learning-module.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/learning-module.pdb
